p{
    text-align: justify;
    text-indent: 50px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    
}

h1, h2{
    text-transform: uppercase;
    color: white;
}

section{
    background-color: rgba(0, 0, 4, 0.405);
    color:azure;
    padding: 20px;
    margin: 5px;
    border-radius: 10px 10px 10px 10px;
    
}

body{
    background-image: url(../Imagens/foto05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
ul li{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}